@import './reset.min.css';
@import './tailwind.css';


.text-sub-title {
    color: #999;
}

.main {
    position: relative;
    width: 100%;
    min-width: 1080px;
    height: 100vh;
    overflow: auto;
}